<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361403082942-rguhk8i8c2e7q20m1qp5oj5fth5qtotf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361403082942-rguhk8i8c2e7q20m1qp5oj5fth5qtotf</string>
	<key>API_KEY</key>
	<string>AIzaSyBxj9e86z7_OMsCTrGdT0YjIM2223Edjus</string>
	<key>GCM_SENDER_ID</key>
	<string>361403082942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.tu.student.6110680565.MyShop2</string>
	<key>PROJECT_ID</key>
	<string>myshop2-77ed3</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop2-77ed3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361403082942:ios:f524f294b86618fe6956ef</string>
</dict>
</plist>